@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
:root {
 --tab-toolbar-navbar-overlap: 0px !important; 
 --tab-min-height: 30px !important;
}
:root #tabbrowser-tabs {
 --tab-min-height: 30px !important;
}
#TabsToolbar {height: var(--tab-min-height) !important;}
.tab-background {
  border-radius: 0px 0px !important;
  margin-bottom: 0px !important;
}

